<div class="authentication-container">
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onResetPassword(forgotPasswordForm)">
    <h1 mat-dialog-title>Enter member email to reset password</h1>
    <div mat-dialog-content>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input 
          matInput 
          id="email"
          formControlName="email"
          type="text" >
          <mat-error  *ngIf="forgotPasswordForm.controls.email.hasError('required')">Email required!</mat-error>
      </mat-form-field><br>
    </div>
    <button class="authentication-main-button" type="submit" mat-raised-button>Reset Password</button>
    <br>
    <p>{{error}}</p>
  </form>
</div>