
.timeslot {
  width: 100%;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
}

.family .timeslot {
  background-color: #00AFF3;
  color: white;
}

.lap .timeslot {
  background-color: #FF9300;
  color: white;
}

.family .timeslot:hover:not(.disabled) {
  background-color: white;
  color: #00AFF3;
}

.lap .timeslot:hover:not(.disabled) {
  background-color: white;
  color: #FF9300;
}

.disabled {
  background-color: rgb(150, 150, 150)!important;
  color: rgb(207, 207, 207)!important;
  cursor: default;
}

.timeslot:focus {
  outline: 0;
  background-color: rgb(124, 200, 230); 
}

.timeslot:active:hover {
  background-color: rgb(228, 228, 228); 
}