<div class="schedule">
  <mat-card>
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{getWeekdayString(schedule?.day)}}</mat-card-title>
        <mat-card-subtitle>Starts {{getDateString(schedule?.startDate)}}</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <div class="card-content">
      <mat-card-content>
        <mat-card-title *ngIf="schedule?.timeslots.length === 0">No timeslots for this schedule</mat-card-title>
        <div *ngFor="let timeslot of schedule?.timeslots; let index=index;">
          <app-timeslot-view 
            [(timeslot)]="schedule?.timeslots[index]"
            [editMode]="editMode"
            (delete)="deleteTimeslot(index)"></app-timeslot-view>
        </div>
        <div *ngIf="editMode" class="icon-container">
          <svg viewBox="0 0 16 16" class="bi bi-plus-circle icon add" (click)="addTimeslot.emit()" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
            <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          </svg>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="editMode = !editMode">EDIT</button>
        <button mat-button (click)="onRemove()">REMOVE</button>
        <button mat-button *ngIf="editMode" (click)="onSave()">SAVE</button>
      </mat-card-actions>
    </div>
  </mat-card>
</div>