<nav class="navbar navbar-expand-md bg-secondary navbar-dark fixed-top">
  <a class="navbar-brand" href="#">SSC Admins</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact-list">Members</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact-create">Accounts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact-create">Accounts</a>
      </li>
    </ul>
  </div>
</nav>