<div class="authentication-container">
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword(resetPasswordForm)">
    <h1 mat-dialog-title>Reset Password</h1>
    <div mat-dialog-content>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input 
          matInput 
          id="password"
          formControlName="password"
          type="password">
        <mat-error  *ngIf="resetPasswordForm.controls.password.hasError('required')">Password required!</mat-error>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Verify Password</mat-label>
        <input 
          matInput 
          id="verifyPassword"
          formControlName="verifyPassword"
          type="password">
        <mat-error  *ngIf="resetPasswordForm.controls.verifyPassword.hasError('required')">Password required!</mat-error>
        <mat-error  *ngIf="resetPasswordForm.controls.verifyPassword.hasError('invalid')">Passwords do not match!</mat-error>
      </mat-form-field><br>
    </div>
    <button class="authentication-main-button" type="submit" mat-raised-button>Reset Password</button><br>
    <br>
    <p>{{error}}</p>
  </form>
</div>