:host {
  --eventheight: 50px;
}

.event {
  position: relative;
  border-radius: 15px;
  width: 250px;
  height: var(--eventheight);
  line-height: var(--eventheight);
  cursor: pointer;
  text-align: left;
  vertical-align: middle;
  overflow: hidden;
  margin: 5px 0;
}

.family {
  background-color: #00AFF3;
  color: white;
}
  
.lap {
  background-color: #FF9300;
  color: white;
}

.event-info {
  margin: 0;
  float: left;
  width: 200px;
  padding-left: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.remove {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 100%;
  background-color: rgb(255, 43, 43);
  color: white;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.remove:hover {
  background-color: rgb(163, 39, 39);
}
.remove:active {
  background-color: rgb(139, 35, 35);
}

.delete {
  line-height: var(--eventheight);
}