<div class="timeslot">
  <div class="timeslot-form">
    <mat-form-field>
      <mat-label>Start Time</mat-label>
      <input matInput class="form-field time-picker" type="time" placeholder="hh:mm" [(ngModel)]="startTime" [readonly]="!edit">
    </mat-form-field>
    <mat-form-field>
      <mat-label>To</mat-label>
      <input matInput class="form-field time-picker" type="time" placeholder="hh:mm" [(ngModel)]="endTime" [readonly]="!edit">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Max Reservations</mat-label>
      <input matInput class="form-field number-picker" type="number" placeholder="1" min="0" max="100" [(ngModel)]="maxOccupants"  [readonly]="!edit">
    </mat-form-field>
    <mat-form-field *ngIf="edit">
      <mat-label>Type</mat-label>
      <mat-select disableRipple [(ngModel)]="timeslotType">
        <mat-option value="family" selected>Family</mat-option>
        <mat-option value="lap">Lap</mat-option>
        <mat-option value="lessons">Lessons</mat-option>
        <mat-option value="blocked">Blocked</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="!edit">
      <mat-label>Type</mat-label>
      <input matInput class="form-field number-picker" type="text" [(ngModel)]="timeslotType" readonly>
    </mat-form-field>
  </div>
  <div class="timeslot-icons">
    <div *ngIf="edit">
      <mat-icon (click)="onConfirmChanges()"  class="icon confirm">check_circle_outline</mat-icon>
    </div>
    <div *ngIf="!edit">
      <mat-icon (click)="onEnterEditMode()"  class="icon edit">edit</mat-icon>
    </div>
    <div>
      <mat-icon (click)="onDelete.emit()"  class="icon delete">delete_outline</mat-icon>
    </div>
  </div>
</div>