<div class="auth-dialog-container">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm)">
    <h1 mat-dialog-title>Login</h1>
    <div mat-dialog-content>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input 
          matInput 
          id="email"
          formControlName="email"
          type="text" >
          <mat-error  *ngIf="loginForm.controls.email.hasError('required')">Email required!</mat-error>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input 
          matInput 
          id="password"
          formControlName="password"
          [type]="hide ? 'password' : 'text'">
        <button mat-icon-button type="button" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error  *ngIf="loginForm.controls.password.hasError('required')">Password required!</mat-error>
      </mat-form-field><br>
    </div>
    <div mat-dialog-actions align="center" class="auth-dialog-action login-action">
      <button mat-button type="submit">Login</button>
    </div>
    <div mat-dialog-actions align="center">
      <button mat-button (click)="onCreateAccount()">Create Account</button>
    </div>
    <div mat-dialog-actions align="center">
      <button mat-button (click)="onForgotPassword()">Forgot Password</button>
    </div>
    <br>
    <p>{{error}}</p>
  </form>
</div>