
.login-container {
  display: block;
  text-align: center;
  padding: 15px;
}

.login-container mat-form-field {
  width: 90%;
}

.login-action {
  margin-bottom: 5px;
}

button:focus, button:active:focus, button.active:focus {
  outline: 0 !important;
  outline-style: none !important;
  border: none !important;
}

@media (min-width: 650px) {
  .login-container {
    display: block;
    text-align: center;
    padding: 15px 40px;
  }
}